.maketforfigma {
    flex: 0 0 auto;
    background: #313a46;
    font-weight: bold;
    display: flex;
    z-index: 10;
}

.maketforfigma img {
    border-radius: 10px;
    margin: 4px 0 0 4px;
}

.maketforfigma p {
    color: #98a6ad;
    text-decoration: none;
    letter-spacing: .01875rem;
    font-size: .775rem;
    padding: 0 10px;
    line-height: 0.70rem;
}

.maketforfigma p>a {
    color: #bbe4f0;
    font-weight: bold;
}

.maketforfigma p>a:hover {
    color: #ffffff
}

.main {
    flex: 1 0 auto;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #373a39;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    background-color: #010922;
    color: #fff;
    overflow: hidden;
}

.header {
    position: relative;
    margin-bottom: 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 50px;
    flex-wrap: wrap;
}

.logo {
    color: #E5E5E5;
    font-family: Outfit;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    text-transform: uppercase;
    position: relative;
    z-index: 10;

}

.header::before {
    content: "";
    position: absolute;
    left: 216px;
    top: -347px;
    width: 603px;
    height: 648px;
    background-image: url(../img/bg/Ellipse\ 1.png);
    border-radius: 648px;
    background: #8D8DDA;
    filter: blur(153px);
}

.menu__list {
    display: flex;
}

.menu__list-link {
    color: #E5E5E5;
    font-family: Outfit;
    font-weight: 400;
    font-size: 20px;
    padding-right: 50px;
}

.discover {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 130px;
    position: relative;
}

.discover::before {
    content: "";
    position: absolute;
    right: -212px;
    top: 104px;
    width: 603px;
    height: 648px;
    background-image: url(../images/bg/Ellipse\ 2.png);
    border-radius: 648px;
    background: rgba(137, 208, 209, 0.64);
    filter: blur(153px);
}

.discover__container {
    display: flex;
    width: 1440px;
}

.discover__info {
    width: 530px;
    margin-right: 70px;
}

.discover__title {
    font-family: Outfit;
    font-weight: 700;
    font-size: 87px;
    font-style: normal;
    line-height: 100px;
    text-transform: capitalize;
    padding-bottom: 50px;
    position: relative;
    z-index: 10;
}

.discover__text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 27.5px;
    padding-bottom: 35px;
}

.discover__buttons {
    font-family: Outfit;
    font-weight: 600;
    font-size: 18px;
    line-height: 43px;
    letter-spacing: 0.26em;
}

.discover__button-buy {
    color: #fff;
    background-color: #8D8DDA;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 17px 53px;
    margin-right: 37px;
    text-transform: uppercase;
}

.discover__button-buy:hover {
    cursor: pointer;
}

.discover__button-sell {
    color: #fff;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid #89D0D1;
    padding: 17px 53px;
    text-transform: uppercase;
}

.discover__button-sell:hover {
    cursor: pointer;
}

.featured {
    margin-bottom: 130px;
}

.featured__title {
    font-family: Outfit;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    line-height: 43px;
    letter-spacing: 4.68px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 59px;
}

.featured__companies {
    max-width: 1065px;
    display: flex;
    justify-content: space-evenly;
    background-color: #2E2761CC;
    border-radius: 25px;
    padding: 20px 20px;
}

.featured__company {
    height: 30px;
}

.analytics {
    margin-bottom: 100px;
    position: relative;
}

.analytics::before {
    content: "";
    position: absolute;
    left: -302px;
    top: 104px;
    width: 603px;
    height: 648px;
    background-image: url(../images/bg/Ellipse\ 3.png);
    border-radius: 648px;
    background: rgba(137, 208, 209, 0.64);
    filter: blur(153px);
}

.analytics__container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
}

.analytics__inner {
    max-width: 480px;
}

.analytics__subtitle {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 27.5px;
    margin-bottom: 33px;
    margin-top: 15px;
}

.analytics__title {
    font-family: Outfit;
    font-weight: 700;
    font-size: 57px;
    font-style: normal;
    line-height: 65px;
    letter-spacing: -1.14px;
    text-transform: capitalize;
    margin-bottom: 33px;
}

.analytics__text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 27.5px;
    margin-bottom: 50px;
}

.analytics__button {
    padding: 10px 15px;
    border-radius: 44px;
    border: none;
    background: rgba(46, 39, 97, 0.80);
    color: #fff;
    font-family: Outfit;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    line-height: 43px;
    letter-spacing: 4.68px;
    text-transform: uppercase;
}

.analytics__button:hover {
    cursor: pointer;
}

.testimonials {
    position: relative;
}

.testimonials::before {
    content: "";
    position: absolute;
    left: -302px;
    top: 280px;
    width: 603px;
    height: 648px;
    background-image: url(../images/bg/Ellipse\ 4.png);
    border-radius: 648px;
    background: rgba(137, 208, 209, 0.64);
    filter: blur(153px);
}

.testimonials::after {
    content: "";
    position: absolute;
    right: -199px;
    top: -245px;
    width: 603px;
    height: 648px;
    background-image: url(../images/bg/Ellipse\ 5.png);
    border-radius: 648px;
    background: #8D8DDA;
    filter: blur(153px);
}

.testimonials__subtitle {
    text-align: center;
    color: #89D0D1;
    font-family: Outfit;
    font-weight: 600;
    font-size: 18px;
    line-height: 43px;
    letter-spacing: 4.68px;
    text-transform: uppercase;
}

.testimonials__title {
    text-align: center;
    color: #E5E5E5;
    font-family: Outfit;
    font-weight: 700;
    font-size: 57px;
    font-style: normal;
    line-height: 65px;
    letter-spacing: -1.14px;
    text-transform: capitalize;
    margin-bottom: 60px;
}

.testimonials__items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 100px;
}

.testimonials__item {
    max-width: 345px;
    background-color: #252155;
    border-radius: 28px;
    margin-right: 20px;
    position: relative;
}

.testimonials__overlay {
    position: absolute;
    top: -50px;
    left: 53px;
    width: 203px;
    height: 203px;
    background-color: rgba(37, 33, 85, 0.4);
    border-radius: 50%;
    pointer-events: none;
}

.testimonials__item:nth-child(3) {
    margin-right: 0;
}

.testimonials__img {
    margin-top: -50px;
    margin-right: auto;
    margin-left: auto;
}

.testimonials__name {
    font-family: Outfit;
    font-weight: 600;
    font-size: 18px;
    line-height: 43px;
    letter-spacing: 4.68px;
    text-transform: uppercase;
    text-align: center;
}

.testimonials__text {
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    padding: 0px 22px 70px 22px;
}

.get-started {
    text-align: center;
    margin-bottom: 190px;
    position: relative;
}

.get-started::before {
    content: "";
    position: absolute;
    right: -201px;
    top: 235px;
    width: 603px;
    height: 648px;
    background-image: url(../img/bg/Ellipse\ 5.png);
    border-radius: 648px;
    background: #8D8DDA;
    filter: blur(153px);
}

.get-started__inner {
    background: linear-gradient(282.73deg, #52B3AC -13.18%, #302963 99.31%);
    border-radius: 49px;
}

.get-started__subtitle {
    color: #000;
    text-align: center;
    font-family: Outfit;
    font-weight: 600;
    font-size: 18px;
    line-height: 43px;
    letter-spacing: 4.68px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 50px;
}

.get-started__title {
    color: #FFFBFB;
    text-align: center;
    font-family: Outfit;
    font-weight: 700;
    font-size: 57px;
    line-height: 65px;
    letter-spacing: -1.14px;
    text-transform: capitalize;
    padding-bottom: 25px;
}

.get-started__button {
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 8.32px;
    text-transform: uppercase;
    border-radius: 43px;
    background: #000;
    border: none;
    margin-bottom: 85px;
    padding-left: auto;
    padding-right: auto;
    width: 536px;
    height: 89px;
    cursor: pointer;
}

.footer {
    margin-bottom: 130px;
}

.footer__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    position: relative;
}

.footer__items::before {
    content: "";
    position: absolute;
    right: 363px;
    top: 110px;
    width: 12px;
    height: 14px;
    background-image: url(../img/bg/Ellipse\ 7.png);
    background-color: rgba(217, 217, 217, 1);
    border-radius: 50%;
}

.footer__item {
    color: #FFFCFC;
}

.footer__logo {
    font-size: 22px;
    color: #FFFCFC;
}

.footer__link a {
    color: #FFFCFC;
    font-family: Outfit;
    font-weight: 600;
    font-size: 16px;
    line-height: 31px;
}

h6.footer__title {
    font-size: 22px;
    margin-bottom: 38px;
}

.footer__form {
    border-radius: 28px;
    background: #252155;
    max-width: 350px;
    width: 100%;
    margin-right: 3px;
    border: none;
    padding: 12px 10px 12px 15px;
}

.footer__form-input {
    background-color: #252155;
    color: #FFFCFC;
    font-family: Outfit;
    font-weight: 600;
    font-size: 16px;
    border: none;
}

.footer__form-input::placeholder {
    color: #FFFCFC;
    font-family: Outfit;
    font-weight: 600;
    font-size: 16px;
}


.footer__form-btn {
    border-radius: 28px;
    background-color: #52B2AC;
    border: none;
    padding: 4px 20px;
    color: #FFFCFC;
    font-family: Outfit;
    font-weight: 600;
    font-size: 14px;
}

.footer__bottom {
    background: linear-gradient(283deg, #52B2AC -13.18%, #302963 99.31%);
    width: 100%;
    height: 27px;
    position: fixed;
    bottom: 0;
    left: 0;
}


@import 'media';